.col
  .card.h-100.mt-3
    .card-header
      .fa.fa-user-circle-o
      = user.email
    .card-body
    //   = course.description
    .card-footer
      .fa.fa-clock-o
      Signed up
      = time_ago_in_words(user.created_at)
      ago
    .card-footer
      %b= 'sign_in_count'.humanize+ ":"
      = user.sign_in_count
      .row
      %b= 'current_sign_in_at'.humanize+ ":"
      = user.current_sign_in_at
      .row
      %b= 'last_sign_in_at'.humanize+ ":"
      = user.last_sign_in_at
      .row
      %b= 'current_sign_in_ip'.humanize+ ":"
      = user.current_sign_in_ip
      .row
      %b= 'last_sign_in_ip'.humanize+ ":"
      = user.last_sign_in_ip
    .card-footer
      Email confirmed?
      - if user.confirmed_at.present?
        .badge.bg-success Yes
      - else
        .badge.bg-danger No
    //   = link_to 'Learn more', user, class: 'btn btn-sm btn-primary'
    //   = link_to 'Edit', edit_user_path(user), class: 'btn btn-sm btn-warning'
    //   = link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure you want to delete it?' }, class: 'btn btn-sm btn-danger'