.div.py-2
  .display-4.text-center
    What would you like to learn today?

  .p-4

  - if current_user
    = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
      .input-group
        = f.search_field :title_or_short_description_cont, class: 'form-control', placeholder: 'Search for a course or topic', :autocomplete => :off
        %span.input-group-append
          %button.btn.btn-outline-success.mx-2{:type => "submit"}
            %span.fa.fa-search{"aria-hidden" => "true"}
%br
.card-group
  .card.text-center.card-body
    %h1
      .fa.fa-graduation-cap
    = Course.count
    online courses
    .row
    Explore a variety of topics
  .card.text-center.card-body
    %h1
      .fa.fa-user-o
    = Course.distinct.count(:user_id)
    experienced instructor(s)
    .row
    Find your perfect teacher
  .card.text-center.card-body
    %h1
      .fa.fa-user-secret
    = User.count
    active learner(s)
    .row
    Join our supportive community
  .card.text-center.card-body
    %h1
      .fa.fa-key
    Lifetime access
    .row
    Learn at your pace

%br
%h2
  Most popular courses
.row.row-cols-1.row-cols-md-2.row-cols-lg-3.g-4
  - @courses.each do |course|
    = render 'courses/course', course: course

%br
%h2 
  Top rated courses
.row.row-cols-1.row-cols-md-2.row-cols-lg-3.g-4
  - @courses.each do |course|
    = render 'courses/course', course: course

%br
%h2 
  Latest courses
.row.row-cols-1.row-cols-md-2.row-cols-lg-3.g-4
  - @courses.each do |course|
    = render 'courses/course', course: course

%br